In [20]:
pip install --upgrade scikit-learn numpy

Requirement already satisfied: scikit-learn in ./.conda/lib/python3.11/site-packages (1.6.1)
Requirement already satisfied: numpy in ./.conda/lib/python3.11/site-packages (1.26.0)
Collecting numpy
  Using cached numpy-2.2.5-cp311-cp311-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: scipy>=1.6.0 in ./.conda/lib/python3.11/site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in ./.conda/lib/python3.11/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./.conda/lib/python3.11/site-packages (from scikit-learn) (3.6.0)
Using cached numpy-2.2.5-cp311-cp311-macosx_14_0_arm64.whl (5.4 MB)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.26.0
    Uninstalling numpy-1.26.0:
      Successfully uninstalled numpy-1.26.0
Successfully installed numpy-2.2.5
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
import numpy as np

In [114]:
files = [
    {'year': '22', 'visit_file': 'h239g.csv', 'people_file': 'h243.csv'},
    {'year': '21', 'visit_file': 'h229g.csv', 'people_file': 'h233.csv'},
    {'year': '20', 'visit_file': 'h220g.csv', 'people_file': 'h224.csv'},
    {'year': '19', 'visit_file': 'h213g.csv', 'people_file': 'h216.csv'},
    ]
dfs = []

In [115]:
def load_data(visit_file, people_file, year, dfs):
    rename_map = {
        'OBTC{year}X': 'total_charge',  # Total charge
        'OBSF{year}X': 'out_of_pocket',  # Out-of-pocket
        'OBMR{year}X': 'medicare',  # Medicare
        'OBMD{year}X': 'medicade',  # Medicaid
        'OBPV{year}X': 'priv_insurance',  # Private insurance
        'OBVA{year}X': 'VA_CHAMPVA',  # VA/CHAMPVA
        'OBTR{year}X': 'tricare',  # Tricare
        'OBOF{year}X': 'other_federal', # Other federal
        'OBSL{year}X': 'state_local',  # State/local
        'OBWC{year}X': 'workers_comp',  # Workerâ€™s comp
        'OBOT{year}X': 'other_insurance',  # Other insurance
        'PERWT{year}F': 'person_weight',  # Person weight
        'INSURC{year}': 'insurance'
    }

    insurance_col = f'INSURC{year}'

    df_visits = pd.read_csv(visit_file)
    df_people = pd.read_csv(people_file)
    df_people = df_people[['DUPERSID', insurance_col]]
    df_initial = df_visits.merge(df_people, on='DUPERSID', how='left')
    df_curr = df_initial.copy(deep=True)
    df_curr.rename(columns=rename_map, inplace=True)
    dfs.append(df_curr)

In [117]:
for file in files:
    load_data(file['visit_file'], file['people_file'], file['year'], dfs)

df = pd.concat(dfs, ignore_index=True)
print(df)
df.to_csv("df_all_years.csv", index=False)

            DUID  PID    DUPERSID           EVNTIDX  EVENTRN FFEEIDX  PANEL  \
0        2460002  101  2460002101  2460002101008301        8      -1     24
1        2460002  101  2460002101  2460002101009001        9      -1     24
2        2460006  101  2460006101  2460006101009401        7      -1     24
3        2460006  101  2460006101  2460006101010501        8      -1     24
4        2460006  101  2460006101  2460006101010601        8      -1     24
...          ...  ...         ...               ...      ...     ...    ...
1409955  2469688  102  2469688102  2469688102000201        1      -1     24
1409956  2469689  101  2469689101  2469689101000101        1      -1     24
1409957  2469689  101  2469689101  2469689101000301        2      -1     24
1409958  2469689  101  2469689101  2469689101000401        2      -1     24
1409959  2469689  101  2469689101  2469689101000501        2      -1     24

         MPCELIG  MPCDATA  OBDATEYR  ...  OBVA19X  OBTR19X  OBOF19X  OBSL19X  \
0              1        1      2022  ...      NaN      NaN      NaN      NaN
1              2        2      2022  ...      NaN      NaN      NaN      NaN
2              1        2      2022  ...      NaN      NaN      NaN      NaN
3              1        2      2022  ...      NaN      NaN      NaN      NaN
4              1        2      2022  ...      NaN      NaN      NaN      NaN
...          ...      ...       ...  ...      ...      ...      ...      ...
1409955        1        1      2019  ...      0.0     91.0      0.0      0.0
1409956        2        2      2019  ...      0.0      0.0      0.0      0.0
1409957        1        2      2019  ...      0.0      0.0      0.0      0.0
1409958        1        2      2019  ...      0.0      0.0      0.0      0.0
1409959        1        2      2019  ...      0.0      0.0      0.0      0.0

         OBWC19X  OBOT19X  OBXP19X  OBTC19X     PERWT19F  INSURC19
0            NaN      NaN      NaN      NaN          NaN       NaN
1            NaN      NaN      NaN      NaN          NaN       NaN
2            NaN      NaN      NaN      NaN          NaN       NaN
3            NaN      NaN      NaN      NaN          NaN       NaN
4            NaN      NaN      NaN      NaN          NaN       NaN
...          ...      ...      ...      ...          ...       ...
1409955      0.0      0.0    91.00   140.00  9415.680805       NaN
1409956      0.0      0.0   132.00   132.00  8370.423095       NaN
1409957      0.0      0.0   378.26   449.83  8370.423095       NaN
1409958      0.0      0.0   378.26   449.83  8370.423095       NaN
1409959      0.0      0.0   114.30   318.82  8370.423095       NaN

[1409960 rows x 95 columns]

In [ ]:


df_visits = pd.read_excel("h239g.xlsx", sheet_name=0)
df_people = pd.read_excel('h243.xlsx')
df_people = df_people[['DUPERSID', 'INSURC22']]
df_initial = df_visits.merge(df_people, on='DUPERSID', how='left')
df_initial.head()
df_22 = df_initial.copy(deep=True)

In [83]:
rename_map_239 = {
    'OBTC22X': 'total_charge',  # Total charge
    'OBSF22X': 'out_of_pocket',  # Out-of-pocket
    'OBMR22X': 'medicare',  # Medicare
    'OBMD22X': 'medicade',  # Medicaid
    'OBPV22X': 'priv_insurance',  # Private insurance
    'OBVA22X': 'VA_CHAMPVA',  # VA/CHAMPVA
    'OBTR22X': 'tricare',  # Tricare
    'OBOF22X': 'other_federal', # Other federal
    'OBSL22X': 'state_local',  # State/local
    'OBWC22X': 'workers_comp',  # Workerâ€™s comp
    'OBOT22X': 'other_insurance',  # Other insurance
    'PERWT22F': 'person_weight',  # Person weight
    'INSURC22': 'insurance'
}

df_22.rename(columns=rename_map_239, inplace=True)
print(df_22)

           DUID  PID    DUPERSID           EVNTIDX  EVENTRN  FFEEIDX  PANEL  \
0       2460002  101  2460002101  2460002101008301        8       -1     24
1       2460002  101  2460002101  2460002101009001        9       -1     24
2       2460006  101  2460006101  2460006101009401        7       -1     24
3       2460006  101  2460006101  2460006101010501        8       -1     24
4       2460006  101  2460006101  2460006101010601        8       -1     24
...         ...  ...         ...               ...      ...      ...    ...
151258  2799698  101  2799698101  2799698101000601        2       -1     27
151259  2799698  101  2799698101  2799698101000701        2       -1     27
151260  2799698  101  2799698101  2799698101001001        2       -1     27
151261  2799700  101  2799700101  2799700101000101        2       -1     27
151262  2799700  101  2799700101  2799700101000201        2       -1     27

        MPCELIG  MPCDATA  OBDATEYR  ...  state_local  workers_comp  \
0             1        1      2022  ...          0.0           0.0
1             2        2      2022  ...          0.0           0.0
2             1        2      2022  ...          0.0           0.0
3             1        2      2022  ...          0.0           0.0
4             1        2      2022  ...          0.0           0.0
...         ...      ...       ...  ...          ...           ...
151258        1        1      2022  ...          0.0           0.0
151259        2        2      2022  ...          0.0           0.0
151260        2        2      2022  ...          0.0           0.0
151261        1        2      2022  ...          0.0           0.0
151262        1        2      2022  ...          0.0           0.0

        other_insurance  OBXP22X  total_charge  IMPFLAG  person_weight  \
0                   0.0     3.00        248.00        2    5728.309495
1                   0.0   233.22        338.00        3    5728.309495
2                   0.0    63.56        130.66        3   15648.881461
3                   0.0   366.69        719.61        3   15648.881461
4                   0.0   115.27        205.03        3   15648.881461
...                 ...      ...           ...      ...            ...
151258              0.0   160.23        200.00        2   15771.415106
151259              0.0    65.00         75.83        1   15771.415106
151260              0.0    60.00         60.00        1   15771.415106
151261              0.0    51.57         65.33        3   11059.678739
151262              0.0    51.57         65.33        3   11059.678739

        VARSTR  VARPSU  insurance
0         2082       1          6
1         2082       1          6
2         2001       4          2
3         2001       4          2
4         2001       4          2
...        ...     ...        ...
151258    2103       3          6
151259    2103       3          6
151260    2103       3          6
151261    2001       3          4
151262    2001       3          4

[151263 rows x 47 columns]

In [73]:
df_visits = pd.read_csv("h229g.csv")
df_people = pd.read_csv('h233.csv')
df_people = df_people[['DUPERSID', 'INSURC21']]
df_initial = df_visits.merge(df_people, on='DUPERSID', how='left')
df_initial.head()
df_21 = df_initial.copy(deep=True)

In [84]:
rename_map_229 = {
    'OBTC21X': 'total_charge',  # Total charge
    'OBSF21X': 'out_of_pocket',  # Out-of-pocket
    'OBMR21X': 'medicare',  # Medicare
    'OBMD21X': 'medicade',  # Medicaid
    'OBPV21X': 'priv_insurance',  # Private insurance
    'OBVA21X': 'VA_CHAMPVA',  # VA/CHAMPVA
    'OBTR21X': 'tricare',  # Tricare
    'OBOF21X': 'other_federal', # Other federal
    'OBSL21X': 'state_local',  # State/local
    'OBWC21X': 'workers_comp',  # Workerâ€™s comp
    'OBOT21X': 'other_insurance',  # Other insurance
    'PERWT21F': 'person_weight',  # Person weight
    'INSURC21': 'insurance'
}

df_21.rename(columns=rename_map_229, inplace=True)

In [87]:
df = pd.concat([df_21, df_22], ignore_index=True)
print(df)

           DUID  PID    DUPERSID           EVNTIDX  EVENTRN  FFEEIDX  PANEL  \
0       2320005  101  2320005101  2320005101202101        8       -1     23
1       2320005  101  2320005101  2320005101202201        8       -1     23
2       2320005  101  2320005101  2320005101202301        8       -1     23
3       2320005  101  2320005101  2320005101202401        8       -1     23
4       2320005  101  2320005101  2320005101202501        8       -1     23
...         ...  ...         ...               ...      ...      ...    ...
353559  2799698  101  2799698101  2799698101000601        2       -1     27
353560  2799698  101  2799698101  2799698101000701        2       -1     27
353561  2799698  101  2799698101  2799698101001001        2       -1     27
353562  2799700  101  2799700101  2799700101000101        2       -1     27
353563  2799700  101  2799700101  2799700101000201        2       -1     27

        MPCELIG  MPCDATA  OBDATEYR  ...  other_insurance  OBXP21X  \
0             1        2      2021  ...              0.0   695.24
1             1        2      2021  ...              0.0   896.93
2             1        2      2021  ...              0.0   896.93
3             1        2      2021  ...              0.0   695.24
4             1        2      2021  ...              0.0   695.24
...         ...      ...       ...  ...              ...      ...
353559        1        1      2022  ...              0.0      NaN
353560        2        2      2022  ...              0.0      NaN
353561        2        2      2022  ...              0.0      NaN
353562        1        2      2022  ...              0.0      NaN
353563        1        2      2022  ...              0.0      NaN

        total_charge  IMPFLAG  person_weight  VARSTR  VARPSU  insurance  \
0             826.53        3    6785.015684    2079       1          4
1            1517.03        3    6785.015684    2079       1          4
2            1517.03        3    6785.015684    2079       1          4
3             826.53        3    6785.015684    2079       1          4
4             826.53        3    6785.015684    2079       1          4
...              ...      ...            ...     ...     ...        ...
353559        200.00        2   15771.415106    2103       3          6
353560         75.83        1   15771.415106    2103       3          6
353561         60.00        1   15771.415106    2103       3          6
353562         65.33        3   11059.678739    2001       3          4
353563         65.33        3   11059.678739    2001       3          4

        FFBEF22  OBXP22X
0           NaN      NaN
1           NaN      NaN
2           NaN      NaN
3           NaN      NaN
4           NaN      NaN
...         ...      ...
353559     -1.0   160.23
353560     -1.0    65.00
353561     -1.0    60.00
353562     -1.0    51.57
353563     -1.0    51.57

[353564 rows x 50 columns]

In [88]:
#Replaces lab test code 95 (no test received) with code 2 (no)
df['LABTEST_M18'] = df['LABTEST_M18'].replace(95, 2.0)
df['SONOGRAM_M18'] = df['SONOGRAM_M18'].replace(95, 2.0)
df['XRAYS_M18'] = df['XRAYS_M18'].replace(95, 2.0)
df['MAMMOG_M18'] = df['MAMMOG_M18'].replace(95, 2.0)
df['MRI_M18'] = df['MRI_M18'].replace(95, 2.0)
df['EKG_M18'] = df['EKG_M18'].replace(95, 2.0)
df['RCVVAC_M18'] = df['RCVVAC_M18'].replace(95, 2.0)

#df['LABTEST_M18'].value_counts()

In [89]:
MEPS_NA = [-1, -7, -8, -15]
df.replace(MEPS_NA, np.nan, inplace=True)

insurance_map = {
    1: '<65 Any Private',
    2: '<65 Public Only',
    3: '<65 Uninsured',
    4: '65+ Medicare Only',
    5: '65+ Medicare + Private',
    6: '65+ Medicare + Other Public',
    7: '65+ Uninsured',
    8: '65+ No Medicare but Public/Private'
}

df['insurance'] = df['insurance'].map(insurance_map)

df.head()

,DUID,PID,DUPERSID,EVNTIDX,EVENTRN,FFEEIDX,PANEL,MPCELIG,MPCDATA,OBDATEYR,...,other_insurance,OBXP21X,total_charge,IMPFLAG,person_weight,VARSTR,VARPSU,insurance,FFBEF22,OBXP22X
0,2320005,101,2320005101,2320005101202101,8,NaN,23,1,2,2021,...,0.0,695.24,826.53,3,6785.015684,2079,1,65+ Medicare Only,NaN,NaN
1,2320005,101,2320005101,2320005101202201,8,NaN,23,1,2,2021,...,0.0,896.93,1517.03,3,6785.015684,2079,1,65+ Medicare Only,NaN,NaN
2,2320005,101,2320005101,2320005101202301,8,NaN,23,1,2,2021,...,0.0,896.93,1517.03,3,6785.015684,2079,1,65+ Medicare Only,NaN,NaN
3,2320005,101,2320005101,2320005101202401,8,NaN,23,1,2,2021,...,0.0,695.24,826.53,3,6785.015684,2079,1,65+ Medicare Only,NaN,NaN
4,2320005,101,2320005101,2320005101202501,8,NaN,23,1,2,2021,...,0.0,695.24,826.53,3,6785.015684,2079,1,65+ Medicare Only,NaN,NaN

In [90]:
cost_columns = [
    'total_charge',   # Total charge
    'out_of_pocket',   # Out-of-pocket (family)
    'medicare',   # Medicare
    'medicaid',   # Medicaid
    'priv_insurance',   # Private insurance
    'VA_CHAMPVA',   # VA/CHAMPVA
    'tricare',   # Tricare
    'other_federal',   # Other federal
    'state_local',   # State/local gov
    'workers_comp',   # Workerâ€™s comp
    'other_insurance',   # Other insurance
]

df['COST_COVERED'] = df['total_charge'] - df['out_of_pocket']

df.head()

,DUID,PID,DUPERSID,EVNTIDX,EVENTRN,FFEEIDX,PANEL,MPCELIG,MPCDATA,OBDATEYR,...,OBXP21X,total_charge,IMPFLAG,person_weight,VARSTR,VARPSU,insurance,FFBEF22,OBXP22X,COST_COVERED
0,2320005,101,2320005101,2320005101202101,8,NaN,23,1,2,2021,...,695.24,826.53,3,6785.015684,2079,1,65+ Medicare Only,NaN,NaN,826.53
1,2320005,101,2320005101,2320005101202201,8,NaN,23,1,2,2021,...,896.93,1517.03,3,6785.015684,2079,1,65+ Medicare Only,NaN,NaN,1517.03
2,2320005,101,2320005101,2320005101202301,8,NaN,23,1,2,2021,...,896.93,1517.03,3,6785.015684,2079,1,65+ Medicare Only,NaN,NaN,1517.03
3,2320005,101,2320005101,2320005101202401,8,NaN,23,1,2,2021,...,695.24,826.53,3,6785.015684,2079,1,65+ Medicare Only,NaN,NaN,826.53
4,2320005,101,2320005101,2320005101202501,8,NaN,23,1,2,2021,...,695.24,826.53,3,6785.015684,2079,1,65+ Medicare Only,NaN,NaN,826.53

Summary Statistics

In [95]:
def weighted_mean(x, weight):
    return (x * weight).sum() / weight.sum()


summary_weighted = df.groupby('insurance').apply(
    lambda g: pd.Series({
        'Mean Total Cost': weighted_mean(g['total_charge'], g['person_weight']),
        'Mean Out-of-Pocket': weighted_mean(g['out_of_pocket'], g['person_weight']),
        'Mean Paid By Insurer': weighted_mean(g['COST_COVERED'], g['person_weight'])
    })
)

print(summary_weighted)

                                    Mean Total Cost  Mean Out-of-Pocket  \
insurance
65+ Medicare + Other Public              834.332427           16.301159
65+ Medicare + Private                   815.419204           40.335478
65+ Medicare Only                        880.947891           44.371894
65+ No Medicare but Public/Private       647.456742           52.123747
65+ Uninsured                            456.549949          215.557473
<65 Any Private                          581.477761           72.859134
<65 Public Only                          666.599848           14.508239
<65 Uninsured                            692.472979          131.727341

                                    Mean Paid By Insurer
insurance
65+ Medicare + Other Public                   818.031268
65+ Medicare + Private                        775.083726
65+ Medicare Only                             836.575996
65+ No Medicare but Public/Private            595.332996
65+ Uninsured                                 240.992476
<65 Any Private                               508.618627
<65 Public Only                               652.091609
<65 Uninsured                                 560.745638

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd
import numpy as np

In [36]:
feature_cols = [
    'VISITTYPE', 'VSTCTGRY', 'DOCATLOC', 'DRSPLTY_M18',
    'MEDPTYPE_M18', 'SEEDOC_M18', 'SURGPROC', 'MEDPRESC', 'TELEHEALTHFLAG',
    'LABTEST_M18', 'XRAYS_M18', 'MRI_M18', 'EKG_M18', 'OBDATEYR', 'OBDATEMM', 'INSURANCE'
]

df[feature_cols] = df[feature_cols].fillna('Missing')
df[feature_cols] = df[feature_cols].astype(str)
df_model = df[feature_cols + ['OBTC22X', 'OBSF22X', 'COST_COVERED']]

X = df_model[feature_cols]
print(X)

targets = {
    'Total Cost': df_model['OBTC22X'],
    'Out-of-Pocket': df_model['OBSF22X'],
    'Cost Covered': df_model['COST_COVERED']
}

categorical_cols = X.select_dtypes(include='object').columns.tolist() + [
    'VISITTYPE', 'VSTCTGRY', 'DOCATLOC', 'DRSPLTY_M18',
    'MEDPTYPE_M18', 'SEEDOC_M18', 'SURGPROC', 'MEDPRESC', 'TELEHEALTHFLAG',
    'LABTEST_M18', 'XRAYS_M18', 'MRI_M18', 'EKG_M18', 'OBDATEYR', 'OBDATEMM'
]

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_cols)
    ],
    remainder='passthrough'
)

       VISITTYPE VSTCTGRY DOCATLOC DRSPLTY_M18 MEDPTYPE_M18 SEEDOC_M18  \
0        Missing      1.0  Missing         8.0      Missing        1.0
1        Missing      2.0      2.0     Missing          8.0        2.0
2        Missing      1.0  Missing        14.0      Missing        1.0
3        Missing      2.0  Missing        14.0      Missing        1.0
4        Missing      2.0  Missing        14.0      Missing        1.0
...          ...      ...      ...         ...          ...        ...
151258   Missing      1.0  Missing        14.0      Missing        1.0
151259   Missing      5.0      2.0     Missing         15.0        2.0
151260   Missing      1.0      2.0     Missing          2.0        2.0
151261   Missing      2.0  Missing         6.0      Missing        1.0
151262   Missing      2.0  Missing         6.0      Missing        1.0

       SURGPROC MEDPRESC TELEHEALTHFLAG LABTEST_M18 XRAYS_M18 MRI_M18 EKG_M18  \
0           2.0      1.0              2         1.0       2.0     2.0     2.0
1           2.0      2.0              2         1.0       2.0     2.0     2.0
2           2.0      2.0              2         2.0       2.0     2.0     2.0
3           2.0  Missing              2         2.0       2.0     2.0     2.0
4           2.0  Missing              2         2.0       2.0     2.0     2.0
...         ...      ...            ...         ...       ...     ...     ...
151258      2.0      1.0              2         2.0       2.0     2.0     2.0
151259      2.0      2.0              2         2.0       2.0     2.0     2.0
151260      2.0      2.0              2         2.0       2.0     2.0     2.0
151261      2.0      2.0              2         2.0       2.0     2.0     2.0
151262      2.0      2.0              2         2.0       2.0     2.0     2.0

       OBDATEYR OBDATEMM                    INSURANCE
0          2022        4  65+ Medicare + Other Public
1          2022        9  65+ Medicare + Other Public
2          2022        1              <65 Public Only
3          2022        1              <65 Public Only
4          2022        1              <65 Public Only
...         ...      ...                          ...
151258     2022        6  65+ Medicare + Other Public
151259     2022        4  65+ Medicare + Other Public
151260     2022        3  65+ Medicare + Other Public
151261     2022        7            65+ Medicare Only
151262     2022        7            65+ Medicare Only

[151263 rows x 16 columns]

In [ ]:
for target_name, y in targets.items():
    print(f"\n Prediction: {target_name}")

    # Combine features and actual target column (y is a Series with the correct column)
    df_model = pd.concat([X, y], axis=1)
    #df_with_na = df_model[df_model.isna().any(axis=1)]
    #print(df_with_na)
    #num_na_rows = df_model.isna().any(axis=1).sum()
    #print(f"{num_na_rows} rows contain at least one NA value.")
    df_model = df_model.dropna()
    print(df_model)



    X_clean = df_model[feature_cols]
    y_clean = df_model[y.name]  # Get actual column name from Series

    X_train, X_test, y_train, y_test = train_test_split(
        X_clean, y_clean, test_size=0.2, random_state=42
    )

    pipe = Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('model', LinearRegression())
    ])

    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)

    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2 = r2_score(y_test, y_pred)

    print(f"{'Linear Regression':20} | RMSE: {rmse:8.2f} | RÂ²: {r2:.4f}")

 Prediction: Total Cost
Empty DataFrame
Columns: [VISITTYPE, VSTCTGRY, DOCATLOC, DRSPLTY_M18, MEDPTYPE_M18, SEEDOC_M18, SURGPROC, MEDPRESC, TELEHEALTHFLAG, LABTEST_M18, XRAYS_M18, MRI_M18, EKG_M18, OBDATEYR, OBDATEMM, INSURANCE, OBTC22X]
Index: []
0 rows contain at least one NA value.
       VISITTYPE VSTCTGRY DOCATLOC DRSPLTY_M18 MEDPTYPE_M18 SEEDOC_M18  \
0        Missing      1.0  Missing         8.0      Missing        1.0
1        Missing      2.0      2.0     Missing          8.0        2.0
2        Missing      1.0  Missing        14.0      Missing        1.0
3        Missing      2.0  Missing        14.0      Missing        1.0
4        Missing      2.0  Missing        14.0      Missing        1.0
...          ...      ...      ...         ...          ...        ...
151258   Missing      1.0  Missing        14.0      Missing        1.0
151259   Missing      5.0      2.0     Missing         15.0        2.0
151260   Missing      1.0      2.0     Missing          2.0        2.0
151261   Missing      2.0  Missing         6.0      Missing        1.0
151262   Missing      2.0  Missing         6.0      Missing        1.0

       SURGPROC MEDPRESC TELEHEALTHFLAG LABTEST_M18 XRAYS_M18 MRI_M18 EKG_M18  \
0           2.0      1.0              2         1.0       2.0     2.0     2.0
1           2.0      2.0              2         1.0       2.0     2.0     2.0
2           2.0      2.0              2         2.0       2.0     2.0     2.0
3           2.0  Missing              2         2.0       2.0     2.0     2.0
4           2.0  Missing              2         2.0       2.0     2.0     2.0
...         ...      ...            ...         ...       ...     ...     ...
151258      2.0      1.0              2         2.0       2.0     2.0     2.0
151259      2.0      2.0              2         2.0       2.0     2.0     2.0
151260      2.0      2.0              2         2.0       2.0     2.0     2.0
151261      2.0      2.0              2         2.0       2.0     2.0     2.0
151262      2.0      2.0              2         2.0       2.0     2.0     2.0

       OBDATEYR OBDATEMM                    INSURANCE  OBTC22X
0          2022        4  65+ Medicare + Other Public   248.00
1          2022        9  65+ Medicare + Other Public   338.00
2          2022        1              <65 Public Only   130.66
3          2022        1              <65 Public Only   719.61
4          2022        1              <65 Public Only   205.03
...         ...      ...                          ...      ...
151258     2022        6  65+ Medicare + Other Public   200.00
151259     2022        4  65+ Medicare + Other Public    75.83
151260     2022        3  65+ Medicare + Other Public    60.00
151261     2022        7            65+ Medicare Only    65.33
151262     2022        7            65+ Medicare Only    65.33

[151263 rows x 17 columns]
Linear Regression    | RMSE:  2712.03 | RÂ²: 0.0338

 Prediction: Out-of-Pocket
Empty DataFrame
Columns: [VISITTYPE, VSTCTGRY, DOCATLOC, DRSPLTY_M18, MEDPTYPE_M18, SEEDOC_M18, SURGPROC, MEDPRESC, TELEHEALTHFLAG, LABTEST_M18, XRAYS_M18, MRI_M18, EKG_M18, OBDATEYR, OBDATEMM, INSURANCE, OBSF22X]
Index: []
0 rows contain at least one NA value.
       VISITTYPE VSTCTGRY DOCATLOC DRSPLTY_M18 MEDPTYPE_M18 SEEDOC_M18  \
0        Missing      1.0  Missing         8.0      Missing        1.0
1        Missing      2.0      2.0     Missing          8.0        2.0
2        Missing      1.0  Missing        14.0      Missing        1.0
3        Missing      2.0  Missing        14.0      Missing        1.0
4        Missing      2.0  Missing        14.0      Missing        1.0
...          ...      ...      ...         ...          ...        ...
151258   Missing      1.0  Missing        14.0      Missing        1.0
151259   Missing      5.0      2.0     Missing         15.0        2.0
151260   Missing      1.0      2.0     Missing          2.0        2.0
151261   Missing      2.0  Missing         6.0      Missing        1.0
151262   Missing      2.0  Missing         6.0      Missing        1.0

       SURGPROC MEDPRESC TELEHEALTHFLAG LABTEST_M18 XRAYS_M18 MRI_M18 EKG_M18  \
0           2.0      1.0              2         1.0       2.0     2.0     2.0
1           2.0      2.0              2         1.0       2.0     2.0     2.0
2           2.0      2.0              2         2.0       2.0     2.0     2.0
3           2.0  Missing              2         2.0       2.0     2.0     2.0
4           2.0  Missing              2         2.0       2.0     2.0     2.0
...         ...      ...            ...         ...       ...     ...     ...
151258      2.0      1.0              2         2.0       2.0     2.0     2.0
151259      2.0      2.0              2         2.0       2.0     2.0     2.0
151260      2.0      2.0              2         2.0       2.0     2.0     2.0
151261      2.0      2.0              2         2.0       2.0     2.0     2.0
151262      2.0      2.0              2         2.0       2.0     2.0     2.0

       OBDATEYR OBDATEMM                    INSURANCE  OBSF22X
0          2022        4  65+ Medicare + Other Public      0.0
1          2022        9  65+ Medicare + Other Public      0.0
2          2022        1              <65 Public Only      0.0
3          2022        1              <65 Public Only      0.0
4          2022        1              <65 Public Only      0.0
...         ...      ...                          ...      ...
151258     2022        6  65+ Medicare + Other Public     25.0
151259     2022        4  65+ Medicare + Other Public     65.0
151260     2022        3  65+ Medicare + Other Public     60.0
151261     2022        7            65+ Medicare Only      0.0
151262     2022        7            65+ Medicare Only      0.0

[151263 rows x 17 columns]
Linear Regression    | RMSE:   480.25 | RÂ²: 0.0189

 Prediction: Cost Covered
Empty DataFrame
Columns: [VISITTYPE, VSTCTGRY, DOCATLOC, DRSPLTY_M18, MEDPTYPE_M18, SEEDOC_M18, SURGPROC, MEDPRESC, TELEHEALTHFLAG, LABTEST_M18, XRAYS_M18, MRI_M18, EKG_M18, OBDATEYR, OBDATEMM, INSURANCE, COST_COVERED]
Index: []
0 rows contain at least one NA value.
       VISITTYPE VSTCTGRY DOCATLOC DRSPLTY_M18 MEDPTYPE_M18 SEEDOC_M18  \
0        Missing      1.0  Missing         8.0      Missing        1.0
1        Missing      2.0      2.0     Missing          8.0        2.0
2        Missing      1.0  Missing        14.0      Missing        1.0
3        Missing      2.0  Missing        14.0      Missing        1.0
4        Missing      2.0  Missing        14.0      Missing        1.0
...          ...      ...      ...         ...          ...        ...
151258   Missing      1.0  Missing        14.0      Missing        1.0
151259   Missing      5.0      2.0     Missing         15.0        2.0
151260   Missing      1.0      2.0     Missing          2.0        2.0
151261   Missing      2.0  Missing         6.0      Missing        1.0
151262   Missing      2.0  Missing         6.0      Missing        1.0

       SURGPROC MEDPRESC TELEHEALTHFLAG LABTEST_M18 XRAYS_M18 MRI_M18 EKG_M18  \
0           2.0      1.0              2         1.0       2.0     2.0     2.0
1           2.0      2.0              2         1.0       2.0     2.0     2.0
2           2.0      2.0              2         2.0       2.0     2.0     2.0
3           2.0  Missing              2         2.0       2.0     2.0     2.0
4           2.0  Missing              2         2.0       2.0     2.0     2.0
...         ...      ...            ...         ...       ...     ...     ...
151258      2.0      1.0              2         2.0       2.0     2.0     2.0
151259      2.0      2.0              2         2.0       2.0     2.0     2.0
151260      2.0      2.0              2         2.0       2.0     2.0     2.0
151261      2.0      2.0              2         2.0       2.0     2.0     2.0
151262      2.0      2.0              2         2.0       2.0     2.0     2.0

       OBDATEYR OBDATEMM                    INSURANCE  COST_COVERED
0          2022        4  65+ Medicare + Other Public        248.00
1          2022        9  65+ Medicare + Other Public        338.00
2          2022        1              <65 Public Only        130.66
3          2022        1              <65 Public Only        719.61
4          2022        1              <65 Public Only        205.03
...         ...      ...                          ...           ...
151258     2022        6  65+ Medicare + Other Public        175.00
151259     2022        4  65+ Medicare + Other Public         10.83
151260     2022        3  65+ Medicare + Other Public          0.00
151261     2022        7            65+ Medicare Only         65.33
151262     2022        7            65+ Medicare Only         65.33

[151263 rows x 17 columns]
Linear Regression    | RMSE:  2653.69 | RÂ²: 0.0316